[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
plotly = "==5.7.0"
jupyterlab = ">=3"
ipywidgets = ">=7.6"
pandas = "*"
mypy = "*"

[requires]
python_version = "3.11"
